$bg-color: #ffffff;
$textcolor: #222222;
$main-color: rgb(241, 109, 127);
$main-color2: #ef5b70;
$bordercolor: #eaeaea;
$main2color: #e6e6e6;
$text-btn: #4a4a4a;
$main-color-hover: rgba(241, 109, 127, 0.11);
